.resultados-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filtros label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .filtros input {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .filtros button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .filtros button:hover {
    background-color: #0056b3;
  }
  
  .table-container {
    max-height: 400px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  table td button {
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  table td button:hover {
    background-color: #218838;
  }
  
  .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
  }
  